<div class="row">
  <div class="col-md-8">

    <h1><%= @board.title %></h1>

    <%= image_tag @board.logo.url(:thumb_fill), height: 50, width: 50 %>

.... Post Listesi ...


    <% if policy(@board).update? %>
      <%= link_to "Duzenle", edit_board_path(@board.id) %>
    <% end %>
  </div>

  <div class="col-md-4">

    <% unless @board.users.include?(current_user) %>
      <%= link_to "Abone Ol", subscribe_board_path(@board), method: :post, class: "btn btn-success" %>
    <% end %>
    <br />

    <% if @board.owners.include?(current_user) %>
      <%= link_to "Yeni Duyuru Gonder",  "#", class: "btn btn-success" %>
    <% end %>
    <br />

    <h3>Owners: </h3>

    <% @board.owners.each do |user| %>
      <%= user.email %> <br />
    <% end %>
 <br /> <br /> <br />

    <h3>Subscribers: </h3>

    <% @board.subscribers.each do |user| %>
      <%= user.email %> <br />
    <% end %>
  </div>
</div>
