<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Notiboard", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>

        <% if current_user.present? %>
          <li><%= link_to current_user.email, "#" %></li>
          <li><%= link_to "Çıkış Yap", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Giris Yap", new_user_session_path %></li>
          <li><%= link_to "Kayit Ol", new_user_registration_path %></li>

        <% end %>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
